.item {
	list-style-type: none;
	display: flex;
	flex-direction: column;
	gap: var(--spacing-min);
	padding-bottom: var(--spacing-card);
	min-width: 2vw;
}

.title {
	font-family: var(--font-titles);
	text-transform: uppercase;
}

.listItem {
	list-style-type: none;
}

.link {
	text-decoration: underline;
}