.imageContent {
  position: sticky;
  height: 525px;
  top: 25%;
}

.boxImage {
  width: 325px;
  z-index: 10;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  border-radius: 1000px;
  animation: fade-in-content 2s;
  margin: 0 auto;
}

.oval {
	width: 100%;
  transform: translateY(-98%) translateX(5px);
  animation: fade-in-oval 3s;
}

@keyframes fade-in-oval {
  0%{
    opacity: 0;
    transform: translateY(-105%) translateX(20px);
  }
  50%{
    opacity: 0;
    transform: translateY(-102%) translateX(10px);
  }
  100%{
    opacity: 1;
    transform: translateY(-98%) translateX(5px);
  }
}

@keyframes fade-in-content {
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}