.imageContent {
  position: sticky;
  height: 525px;
  top: 25%;
}

.boxImage {
  width: 325px;
  z-index: 10;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  border-radius: 1000px;
  animation: fade-in-content 2s;
}

.oval {
  top: 25%;
  z-index: 25;
  transform: translateY(-98%) translateX(-10%);
  margin-bottom: 525px;
  animation: fade-in-oval 3s;
}

@keyframes fade-in-oval {
  0%{
    opacity: 0;
    transform: translateY(-120%) translateX(-30%);
  }
  50%{
    opacity: 0;
    transform: translateY(-110%) translateX(-20%);
  }
  100%{
    opacity: 1;
    transform: translateY(-98%) translateX(-10%);
  }
}

@keyframes fade-in-content {
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}