.imageContent {
	position: sticky;
	height: 525px;
	top: 25%;
	margin-bottom: 10vh;
}

.coverImage {
	transform: scale(1.10);
	transform-origin: right;
}

.boxImage {
	z-index: 10;
	width: 24.6vw;
	aspect-ratio: 2/3;
	overflow: hidden;
	display: flex;
	justify-content: flex-end;
	border-radius: 1000px;
	animation: fade-in-content 2s;
	margin: 0 auto;
}

.ovalBox {
	z-index: 20;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.oval {
	transform: translateY(-98%) translateX(5%);
	animation: fade-in-oval 3s;
	width: 24.6vw;
	aspect-ratio: 2/3;
}

@keyframes fade-in-oval {
	0%{
		opacity: 0;
		transform: translateY(-105%) translateX(10%);
	}
	50%{
		opacity: 0;
		transform: translateY(-102%) translateX(5%);
	}
	100%{
		opacity: 1;
		transform: translateY(-98%) translateX(5%);
	}
}

@keyframes fade-in-content {
	0%{
		opacity: 0;
	}
	50%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}


@media only screen and (min-width: 2000px) {

	.imageContent {
		top: 12%;
		margin-bottom: 50vh;
	}
	
}
