
.boxImage {
  position: sticky;
  top: 25%;
  width: 325px;
  z-index: 10;
  max-height: 600px;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  border-radius: 1000px;
  animation: fade-in-oval 2s;
}

.oval {
  z-index: 10;
  position: sticky;
  top: 51%;
  z-index: 25;
  transform: translateY(-50%);
  right: 7vw;
  animation: fade-in-oval 3s;
}


@keyframes fade-in-oval {
  0%{
    opacity: 0;
    right: 5vw;
  }
  50%{
    opacity: 0;
    right: 6vw;
  }
  100%{
    opacity: 1;
    right: 7vw;
  }
}

@keyframes fade-in-content {
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}