.containerWrapper {
  background-color: var(--dark-light);
  height: 5000px; /*temporary fixed height */
  position: relative;
  top: 100vh;
  margin: 0 2.5vw;
  border-radius: var(--section-border-radius);
  transition: all .5s;
  display: flex;
  flex-direction: column;
}

.fullPage {
  border-radius: 0;
  margin: 0;
}

.emptyBox {
  height: 100vh;
  width: 100%;
  z-index: 1000;
  position: absolute;
  bottom: -100vh;
  pointer-events: none;
}

@media only screen and (max-width: 800px){
  .containerWrapper {
    margin: 0 16px;
  }

  .fullPage {
    margin: 0;
  }
}