.containerWrapper {
	background-color: var(--dark-light);
	position: relative;
	top: 100vh;
	margin: 0 2.5vw;
	border-radius: var(--section-border-radius);
	transition: all .5s;
	display: flex;
	flex-direction: column;
	padding-bottom: 50px;
}

.fullPage {
	border-radius: 0;
	margin: 0;
}

.storyLineContainer {
	position: relative;
}

.intersectionRef {
	/* background-color: rgba(240, 128, 128, 0.489); */
	height: 100vh;
	width: 100%;
	z-index: 1000;
	position: absolute;
	top: -100vh;
	pointer-events: none;
}

.emptyBox {
	height: 100vh;
	width: 100%;
	z-index: 1000;
	position: absolute;
	bottom: -100vh;
	pointer-events: none;
	/* background-color: rgba(173, 216, 230, 0.537); */
}

@media only screen and (max-width: 800px){
	.containerWrapper {
		margin: 0 16px;
	}

	.fullPage {
		margin: 0;
	}
}