.dataSection {
	height: 80vh;
	width: 100%;
	/* border: 3px solid red; */
	/* background-color: black; */
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	min-width: 80vw;
	margin: 0 auto;
	display: flex;
	justify-content: flex-end;
}

.grid {
	min-width: 50%;
	max-width: 50%;
	display: grid;
	grid-template-columns: 1fr 1fr;
}
