.introSection {
	min-width: 100%;
  font-family: var(--font-large);
	/* background-color: rgba(240, 128, 128, 0.388); */
	position: relative;
}

.textBox {
	display: flex;
	min-height: 200vh;
	position: relative;
	overflow: clip;
	min-width: 100%;
	padding-bottom: 200px;
}

.content {
	padding-top: 247px;
	padding-left: 7.5vw;
	/* background-color: green; */
}

.text {
  font-family: var(--font-body);
	font-size: 32px;
	line-height: 38.4px;
	width: 40vw;
	font-weight: 300;
	height: 300px;
	position: -webkit-sticky;
	position: sticky;
	top: 40%;
	/* transform: translateY(-50%); */
	transform: none;
	transition: all .5s;
	padding-right: 2vw;
}

.secondText {
	font-size: 32px;
	line-height: 38.4px;
	font-weight: 300;
	position: sticky;
	width: 40vw;
	transform: translateX(92vw);
	/* background-color: blue; */
}

.textParagraphFull {
	margin-left: 2.5vw;
}

.imageContainerFull {
	margin-right: 2.5vw;
}

.imageSection {
	/* background-color: blueviolet; */
	position: absolute;
	top: -75vh;
	right: 7.5vw;
	height: calc(100% + 75vh);
	width: 30vw;
	padding-bottom: 200px;
	transition: all .5s;
	overflow: clip;
	z-index: 200;
}

.moveToLeft {
	left: 0;
	right: unset;
}

@media only screen and (min-width: 2000px) {

	.text {
		/* width: 20vw; */
	}
/* 
	.secondText {
		transform: translateX(70vw);
	} */

	.content{
		/* padding-left: 104px;
		margin-left: 20vw; */
	}

	.imageSection {
		top: -90vh;
		height: calc(100% + 90vh);
	}

	.introSection {
		padding-bottom: 20vh;
	}

}

@media only screen and (max-height: 1000px) {

	.textBox {
		min-height: 300vh;
	}

	.imageSection {
		height: 475vh;
	}

}