.container {
	margin: 48px 10vw 0;
	padding-bottom: 208px;
	display: flex;
	justify-content: flex-end;
	height: fit-content;
}

.imageBox {
	width: 60vw;
	display: flex;
	justify-content: space-between;
}

.image {
	border-radius: var(--mobile-media-border-radius);
	width: 19vw;
	height: auto;
}

.image:nth-last-of-type(2) {
	transform: translateY(80px);
}

img.image:nth-last-of-type(1) {
	transform: translateY(160px);
}