.navigation {
  background-color: rgba(22, 22, 24, 0.7);
  backdrop-filter: blur(100px);
  position: fixed;
  bottom:0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 24px;
  max-height: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:flex-start;
  border-radius: 50px;
  max-width: 321px;
  overflow: hidden;
}

.menuList {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.menuList li {
  list-style-type: none;
  height: fit-content;
  z-index: 1;
}

.menuList .navLink {
  padding: 6px 12px;
  color: var(--text-white);
  text-decoration: none;
  font-size: 16px;
  isolation: isolate;
}

.menuList .navLink:hover::before {
  background-position: 100% 0;
}

.active {
  content: '';
  background-color: red;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all .3s ease-in;
}

.home {
  left: 0;
  width: 50px;
}

.project {
  left: 30px;
  width: 100px;
}

.method {
  left: 150px;
  width: 80px;
}

.about {
  left: 250px;
  width: 50px;
}

.pageNavigation {
  color: white;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 24px;
}

.content {
  transition: all .3s ease-in;
}

.translateUp {
  transform: translateY(-50%);
}