.navigation {
  background-color: rgba(22, 22, 24, 0.7);
  backdrop-filter: blur(100px);
  position: fixed;
  bottom:0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 24px;
  max-height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  max-width: 321px;
}

.menuList {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.menuList li {
  list-style-type: none;
  height: fit-content;
}

.menuList .navLink {
  padding: 6px 12px;
  color: var(--text-white);
  text-decoration: none;
  font-size: 16px;
  isolation: isolate;
}
/* 
.menuList .active .navLink {
  border-radius: 50px;
  position: relative;
  background-color: #343434;
  mix-blend-mode: color;
} */
/* 
.menuList .active .navLink::before {
  content: '';
  display: block;
  position: absolute;
  border-radius: 1000px;
  top: -0.1em;
  bottom: -0.1em;
  right: -0.1em;
  left: -0.1em;
  z-index: -1;
  mix-blend-mode: color;
  background: linear-gradient(240deg, #343434 0%, #ffffff 20%, #343434 50%);
  background-size: 140%;
  background-position: 0 0;
  transition: all .3s;
} */

.menuList .navLink:hover::before {
  background-position: 100% 0;
}
