:root {
	--bg-black: #000;
	--text-color-contrast: #fff;
	--text-whitish: rgba(208, 208, 209, 1);
	--text-light-transparent: rgba(255, 255, 255, 0.4);
	--dark-light: rgba(22, 22, 24, 1);
	--dark-light-transparent: rgba(22, 22, 24, 0.7);
	--menu-width: 321px;
	--nav-animation-time: .5s;
	--bg-backdrop: rgba(0, 0, 0, 0.4);
	--section-border-radius: 30px;
	--spacing-min: 16px;
	--spacing-card: 40px;

	--font-3XLD-size: 80px;
	--font-3XLD-weight: 500;
	--font-3XLD-line-height: 0.95em;
	--font-3XLD-letter-spacing: -0.04em;

	--font-2XLgh-size: 40px;
	--font-2XLgh-weight: 200;
	--font-2XLgh-line-height: normal;
	--font-2XLgh-letter-spacing: normal;

	--font-XLgh-size: 32px;
	--font-XLgh-weight: 300;
	--font-XLgh-line-height: normal;
	--font-XLgh-letter-spacing: normal;

	--font-titles-size: 16px;
	--font-titles-weight: 700;
	--font-titles-line-height: 1.375em;
	--font-titles-letter-spacing: 0.02em;

	--font-body-size: 16px;
	--font-body-weight: 400;
	--font-body-line-height: normal;
	--font-body-letter-spacing: normal;

	--media-border-radius: 12px;
	--mobile-media-border-radius: 20px;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}