:root{
  --bg-black: #000;
  --text-white: #fff;
  --text-whitish: rgba(208, 208, 209, 1);
  --dark-light: rgba(22, 22, 24, 1);
  --dark-light-transparent: rgba(22, 22, 24, 0.7);
  --menu-width: 321px;
  --nav-animation-time: .5s;
  --bg-backdrop: rgba(0, 0, 0, 0.4);
  --section-border-radius: 30px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
