.container {
	position: absolute;
	height: 100%;
	top: 0;
	left: 0;
	padding-left: 10vw;
	min-width: 500px;
	mix-blend-mode: difference;
}

.textContent {
	position: sticky;
	top: 50%;
	margin: 50vh 0 50vh;
	transform: translateY(-50%);
}

.text {
	margin-bottom: 50px;
}

.text a {
	text-decoration: none;
}

.subText {
	display: none;
}

.activeBox {
	font-size: 30px;
}

.activeBox .subText {
	display: inline;
}

.activeBox .arrowIcon {
	display: none;
}

.mainTitle {
	color: var(--text-light-transparent);
	transition: all .5s;
}

.activeBox .mainTitle {
	color: var(--text-color-contrast);
	font-family: var(--font-large);
	font-size: var(--font-3XLD-size);
	font-weight: var(--font-3XLD-weight);
	letter-spacing: var(--font-3XLD-letter-spacing);
	line-height: var(--font-3XLD-line-height);
	transition: all .5s;
}

.subText {
	font-family: var(--font-large);
	font-size: var(--font-XLgh-size);
	font-weight: var(--font-XLgh-weight);
	letter-spacing: var(--font-XLgh-letter-spacing);
	line-height: var(--font-XLgh-line-height);
	color: var(--text-whitish);
}

.titleBlock {
	display: flex;
	align-items: center;
	gap: 4px;
	transition: all .5s;
}

.activeBox .lineSeparator {
	width: 80px;
	transition: all .5s;
}

.lineSeparator {
	display: block;
	height: 1px;
	width: 40px;
	background: linear-gradient(45deg, white, black, white);
}