.navigation {
  background-color: var(--dark-light-transparent);
  backdrop-filter: blur(100px);
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 24px;
  max-height: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 50px;
  max-width: var(--menu-width);
  overflow: hidden;
  font-family: var(--font-large);
}

.menuList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 56px;
}

.menuList li {
  list-style-type: none;
  height: fit-content;
  z-index: 1;
}

.menuList .navLink {
  padding: 6px 16px;
  color: var(--text-color-contrast);
  text-decoration: none;
  font-size: 16px;
  isolation: isolate;
}

.homeLink {
	display: flex;
	padding-left: 8px;
}

a.navLink.lastLink {
	padding-right: 26px;
}

.active {
  background-color: black;
	width: 100%;
	height: 100%;
	border-radius: 1000px;
}

.borderActive {
	background: linear-gradient(240deg, #343434 20%, #ffffff 50%, #343434 80%);
	content: '';
  background-color: black;
  height: 40px;
	border-radius: 1000px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all var(--nav-animation-time) ease-out;
	background-color: black;
	padding: .5px;
}

.home {
  left: 9px;
  width: 40px;
}

.project {
  left: 50px;
  width: 96px;
}

.method {
  left: 146px;
  width: 91px;
}

.about {
  left: 235px;
  width: 78px;
}

.pageNavigation {
  color: var(--text-color-contrast);
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 24px;
}

.content {
  transition: all var(--nav-animation-time) ease-out;
}

.translateUp {
  transform: translateY(-50%);
}