.container {
	position: absolute;
	height: 100%;
	top: 0;
	left: 0;
	padding-left: 10vw;
	min-width: 500px;
	mix-blend-mode: difference;
}

.textContent {
	position: sticky;
	top: 50%;
	margin: 50vh 0 50vh;
	transform: translateY(-50%);
}

.text {
	margin-bottom: 50px;
	transition: all .5s;
}

.subText {
	display: none;
}

.box {
	font-size: 30px;
	transition: all .5s;
}

.box .subText {
	display: inline;
}