.container {
	/* background-color: yellowgreen; */
	position: absolute;
	height: 100%;
	top: 0;
	left: 0;
	padding-left: 10vw;
}

.textContent {
	position: sticky;
	/* background-color: red; */
	top: 50%;
	margin-top: 100%;
	transform: translateY(-50%);
}